body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  height: 100%;
  display: block;
}

h1{
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.headerText {
  color: #ffffff;
  width: 25%;
  margin-left: 3pt;
  float: left;
}

.header1 {
  background-color: #ea4335;
}

.header2 {
  background-color: #4285f4;
}

.header3 {
  background-color: #24a853;
}

.header4 {
  background-color: #fbbc05;
}
